*{
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

#editor{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  z-index: 2;
}

.title{
  margin: 10px 0 20px 0;
  font-size: 20px;
}

#menu{
  height: 50px !important;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  flex-grow: 1;
  z-index: 3;
  background-color: black;
  position: fixed;
  top: 0; 
}

.btnMenu{
  color: white;
  border: 1px solid white;
  padding: 5px;
  transition: 100ms;
}

.btnMenu:hover{
  border: 1px solid grey;
  padding: 5px 7px;
}

#viewManager{
  margin-top:50px;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  flex-grow: 1;
  overflow: auto;
}

.sheet{
  margin-top: 15px;
  margin-bottom: 10px;
  width: calc(2.65*210px);
  height: calc(2.65*297px);
  background-color: white;
  box-shadow: 2px 5px 5px rgba(0,0,0,0.2);
  position: relative;
}

#configSheet{
  width: 180px;
  background-color: red;
  position: fixed;
  z-index: 150;
  right: 0;
  background: white;
  box-shadow: 2px 5px 5px rgba(0,0,0,0.2);
  height: 100%;
  padding: 10px;
}

#listSheets{
  width: 140px;
  background-color: red;
  position: fixed;
  z-index: 150;
  left: 0;
  background: white;
  padding: 10px;
  box-shadow: 2px 5px 5px rgba(0,0,0,0.2);
  height: 100%;
  overflow-y: scroll;
}

.minisheet{
  margin-top: 15px;
  width: calc(210px/2.65);
  height: calc(297px/2.65);
  background-color: white;
  box-shadow: 2px 5px 5px rgba(0,0,0,0.2);
  position: relative;
  border: 1px solid rgba(0,0,0,0.1);
  color: black;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.minisheet.miniSheetActive{
  background-color: rgba(0,0,0,0.2);
  width: calc(210px/2.5);
  height: calc(297px/2.5);
  
}

.content{
  width: 100%;
  height: 100%;
}

.mh{
  width: 1px;
  background-color: rgba(0,0,0,0.2);
  height:100%;
  position: absolute;
}

.mv{
  width: 100%;
  background-color: rgba(0,0,0,0.2);
  height:1px;
  position: absolute;
}

.lines{
  margin: 0;
}

.dot{
  background-color: black;
  width: 70px;
  height: 25px;
  font-size: 12px;
  color: white;
  position: absolute;
  border-radius: 2px;
}

.cmShow{

  color: grey;
  font-size: 12px;
  position: absolute;
  
}


#backgroundManager{
  position: absolute;
  z-index: 1;
  background-color: #F0F0F0;
  width: 100%;
  height: 100%;
}