/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 50; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 5px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 80%; /* Could be more or less, depending on screen size */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  
  /* The Close Button */
  .close {
    color: grey;
    float: right;
    font-size: 20px;
    font-weight: bold;
    width: 15px;
    margin: 0;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .btnapply{
    margin-top: 20px;
    height: 30px;
    width:70px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #888;
    border-radius: 5px;
    font-weight: bold;
    transition: 100ms;
  }

  .btnapply:hover{
    color: white;
    background-color: #778;
  }

  .inp{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; 
    margin: 5px 0;
  }

  .inp span{
    width:100%;
    font-size: 12px;
  }

.configsContents{
  width: 100%;
  display:flex;
  justify-content:space-around;
}

.configsContents .left{
  width: 50%;
  border-right: 1px solid #555;
}

.configsContents .right{
  width: 50%;
}

.configsContents .right .sectionConfig, .configsContents .left .sectionConfig{
  border-top: 1px solid #333;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
} 

.subtitle{
  margin-left:20px;
  width: calc(100% - 20px);
}